@font-face {
    font-family: 'bebas_neue_cyrillicregular';
    src: url('../fonts/bebas_neue_cyrillic.eot');
    src: url('../fonts/bebas_neue_cyrillic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas_neue_cyrillic.woff2') format('woff2'),
         url('../fonts/bebas_neue_cyrillic.woff') format('woff'),
         url('../fonts/bebas_neue_cyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cuprumregular';
    src: url('../fonts/cuprum.eot');
    src: url('../fonts/cuprum.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cuprum.woff2') format('woff2'),
         url('../fonts/cuprum.woff') format('woff'),
         url('../fonts/cuprum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cuprum-regular';
    src: url('../fonts/cuprum-regular.eot');
    src: url('../fonts/cuprum-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cuprum-regular.woff2') format('woff2'),
         url('../fonts/cuprum-regular.woff') format('woff'),
         url('../fonts/cuprum-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_probold';
    src: url('../fonts/pfdintextcomppro-bold.eot');
    src: url('../fonts/pfdintextcomppro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-bold.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-bold.woff') format('woff'),
         url('../fonts/pfdintextcomppro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_proitalic';
    src: url('../fonts/pfdintextcomppro-italic.eot');
    src: url('../fonts/pfdintextcomppro-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-italic.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-italic.woff') format('woff'),
         url('../fonts/pfdintextcomppro-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_prolight';
    src: url('../fonts/pfdintextcomppro-light.eot');
    src: url('../fonts/pfdintextcomppro-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-light.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-light.woff') format('woff'),
         url('../fonts/pfdintextcomppro-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_promedium';
    src: url('../fonts/pfdintextcomppro-medium.eot');
    src: url('../fonts/pfdintextcomppro-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-medium.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-medium.woff') format('woff'),
         url('../fonts/pfdintextcomppro-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: url('../fonts/pfdintextcomppro-regular.eot');
    src: url('../fonts/pfdintextcomppro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-regular.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-regular.woff') format('woff'),
         url('../fonts/pfdintextcomppro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_prothin';
    src: url('../fonts/pfdintextcomppro-thin.eot');
    src: url('../fonts/pfdintextcomppro-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-thin.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-thin.woff') format('woff'),
         url('../fonts/pfdintextcomppro-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_proXBlk';
    src: url('../fonts/pfdintextcomppro-xblack.eot');
    src: url('../fonts/pfdintextcomppro-xblack.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-xblack.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-xblack.woff') format('woff'),
         url('../fonts/pfdintextcomppro-xblack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_proXTh';
    src: url('../fonts/pfdintextcomppro-xthin.eot');
    src: url('../fonts/pfdintextcomppro-xthin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-xthin.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-xthin.woff') format('woff'),
         url('../fonts/pfdintextcomppro-xthin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

