$bebas: 'bebas_neue_cyrillicregular';
$cuprum: 'cuprumregular';
$cuprumreg: 'cuprum-regular';
$bold: 'pf_din_text_comp_probold';
$italic: 'pf_din_text_comp_proitalic';
$light: 'pf_din_text_comp_prolight';
$medium: 'pf_din_text_comp_promedium';
$regular: 'pf_din_text_comp_proregular';
$thin: 'pf_din_text_comp_prothin';
$xblack: 'pf_din_text_comp_proXBlk';
$xthin: 'pf_din_text_comp_proXTh';